.project-main-container {
  width: 100vw;
  height: 80vw;
  border: 1px black solid;
  display: flex;
}

.stageOne-container {
  width: 20vw;
}

.stage-container {
  display: flex;
  width: 100vw;
}

.stageTwo-container {
  width: 20vw;
}
.stageThree-container {
  width: 20vw;
}
